{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="bg-black min-h-screen">
    <div class="relative isolate px-6 lg:px-8">
      <div class="mx-auto max-w-2xl py-32 sm:py-28 ">
        <div class="mb-8 flex justify-center">
          <div class="relative  rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Transforming the Dining Experience 
          </div>
        </div>
        <div class="text-center">
          <h1 class="t font-bold tracking-tight text-gray-300 text-2xl lg:text-4xl">Change Your Restaurant with<br><span class="font-bold tracking-tight text-white text-6xl"> Smart QR Menus</span></h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Take your restaurant to the next level with our cutting-edge QR code menus. Easily manage and update your menu items with our intuitive admin panel, giving your customers a seamless dining experience.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'signup' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".nav-toggle").click(function () {
                $("#mobile-nav").slideToggle();
            });
        });
    </script>
{% endblock %}