{% extends 'mainbase.html' %}
{% load static %}

{% block content %}
<div class="grid bg-white py-8 place-items-center px-6 lg:px-8">
    <div class="text-center">
        <h1 class="text-3xl font-bold text-gray-900 sm:text-5xl">Order Confirmed</h1>
        <p class="mt-4 text-base font-semibold text-indigo-600">Thank you for your order!</p>
        <p class="mt-6 text-base leading-7 text-gray-600">
            Your order has been successfully placed.
        </p>
        <div class="text-left text-base leading-7 text-gray-600 mx-auto max-w-4xl text-sm p-5 bg-white ">
            <p class="">Order ID: <strong>{{ order.id }}</strong></p>
            <p class="">Total Paid: <strong>Rs{{ order.amount_paid|floatformat:2 }}</strong></p>
            
            <!-- Order Details Section -->
            <div class="mt-6">
                <h2 class="text-lg font-semibold mb-2">Order Details:</h2>
                <ul>
                    {% for item in items %}
                    <li class="flex justify-between items-center p-2 hover:bg-gray-100 rounded">
                        <span class="font-medium">{{ item.portion.product.name }}</span>
                        <span class="mx-1">Quantity: {{ item.quantity }}</span>
                        <span>Rs{{ item.price|floatformat:2 }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'menuhome' resturant.id %}" class="rounded-xl bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go to Home</a>
            <a href="#" class="text-sm font-semibold text-gray-900">Contact Support <span aria-hidden="true">&rarr;</span></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".nav-toggle").click(function () {
            $("#mobile-nav").slideToggle();
        });
    });
</script>
{% endblock %}
