{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="grid bg-black min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <h1 class="text-3xl font-bold tracking-tight text-gray-100 sm:text-5xl">Thank You for Signing Up!</h1>
    <p class="mt-4 text-base font-semibold text-indigo-600">We Will Contact You Soon</p>
    <p class="mt-6 text-base leading-7 text-gray-600">
      Thanks for choosing Digi Menu! You’ll receive a WhatsApp message with more details shortly.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="{% url 'home' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go to Home</a>
      <a href="#" class="text-sm font-semibold text-gray-100">Need Help? Contact Support <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".nav-toggle").click(function () {
                $("#mobile-nav").slideToggle();
            });
        });
    </script>
{% endblock %}