{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digimenu Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static '/assets/js/init-alpine.js' %}"></script>
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-zinc-950"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      <!-- Desktop sidebar -->
      {% include 'dsidebar.html' %}
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
      {% include 'dmsidebar.html' %}
      <div class="flex flex-col flex-1 w-full">
        {% include 'dheader.html' %}
        <main class="h-full overflow-y-auto items-center">
          <div class="p-4 mx-auto grid items-center mt-4 mr-4">
            <!-- New Table -->
            <div class="w-full overflow-hidden rounded-lg bg-black p-4 m-2 shadow-xs">
              <div class="w-full overflow-x-auto">
                <h3 class="text-gray-100 font-bold text-4xl px-2">Change menu | <span class="text-gray-500 text-sm "> {{ edit_menu }} </span></h3>
              </div>
              <div class="pt-6 grid grid-cols-1 md:grid-cols-1 gap-4">
                <div class=" px-4">
                  <form class="space-y-4" method="post">
                    {% csrf_token %}
                    
                    <!-- Name Field -->
                    <div class="flex flex-col">
                        <label for="name" class="text-gray-200 text-sm ml-0.5 font-bold">Name</label>
                        <input type="text" id="name" name="name" class="lg:w-1/2  mt-1 p-2 border px-2 py-1 border-indigo-950 rounded-xl bg-black text-white text-xs" placeholder="{{ edit_menu }}">
                    </div>
                    
                    <!-- Submit Button -->
                    <button type="submit" class=" py-2 px-4 bg-indigo-500 text-white rounded-md hover:bg-indigo-600">Save Menu</button>
                </form>
                </div>
              </div>
            </div>
            <div class="lg:w-1/2 w-full overflow-hidden rounded-lg bg-black p-4 m-2 shadow-xs">
            {% for menu in menus %}
              <div
                class="flex justify-between items-center p-2 px-3 rounded-xl shadow-xs dark:bg-black " 
              >
                <div>
                  <p
                    class=" mr-4 text-sm font-medium text-gray-200 dark:text-gray-200 items-center justify-center"
                  >
                  {{menu.name}} </p>
                </div>
                  <div class="flex">
                    <a
                      class="p-0.5 mb-1 ml-3 text-indigo-900 bg-gray-100 rounded-full " href="{% url 'change_menu' menu.id %}"
                    >
                      <svg
                        class="w-4 h-4"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                        ></path>
                      </svg>        
                    </a>
                    <form method="post" action="{% url 'delete_menu' menu.id %}" onsubmit="return confirm('Are you sure you want to delete this menu?');" class="p-0">
                      {% csrf_token %}
                      <button
                        class="p-0.5 ml-3 text-red-900 bg-gray-100 rounded-full " href="{% url 'delete_menu' menu.id %}"
                      >
                        <svg
                        class="w-4 h-4"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>    
                      </button>
                    </form>
                  </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
