{% load static %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digimenu Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/airplane@0.2.85/index.min.js"></script>
    <script src="{% static '/assets/js/init-alpine.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div
      class="flex h-screen bg-gray-50 dark:bg-zinc-950"
      :class="{ 'overflow-hidden': isSideMenuOpen }"
    >
      {% include 'dsidebar.html' %}
      <!-- Mobile sidebar -->
      <!-- Backdrop -->
      {% include 'dmsidebar.html' %}
      <div class="flex flex-col flex-1 w-full">
        {% include 'dheader.html' %}
        <main class="h-full overflow-y-auto">
          <div class="container p-6 mx-auto grid">
            {% block content %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
