{% extends 'mainbase.html' %}
{% load static %}
{% block content %}
<div class=" justify-center my-3 mx-1 ">
  <div >
    <ul  class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1">
      {% for product in products %}
      <li class="flex-col m-2 bg-gray-100 rounded-3xl p-3">
        <div class="h-24 w-120 h-48 flex-shrink-0 overflow-hidden ">
          <img src="{{product.image.url}}" alt="{{product.name}}" class="h-full w-full object-cover rounded-2xl object-center">
        </div>
        <h3 class="text-gray-700 font-bold px-2">
          {{product.name}}
        </h3>
        <p class="px-2 mt-1 text-xs text-gray-500">{{product.description}}</p>
        <h4 class="font-semibold text-sm text-gray-600 mt-2 mx-2">Price</h4>
        <div class=" border-t border-indigo-300 mx-2">
          <div class="justify-between items-center my-2">
            {% for portion in product.portions.all %}
              <div class="flex justify-between items-end text-gray-500">
                <p class="text-xs">{{ portion.name }}</p>
                <p class="text-indigo-500 text-xs">Rs {{ portion.price }}</p>
              </div>
            {% empty %}
              <p>No portions available.</p>
            {% endfor %}
                  </div>
        </div>
        <div class="flex flex-row justify-end mx-1">
          <a href="{% url 'product' resturant.id product.id %}" class="bg-indigo-500 text-gray-100 px-2 py-1 rounded-xl text-sm font-bold">Order now</span></a>
        </div>  
      </li>
      {% endfor %}
  
    </ul>
  </div>
</div>
{% endblock %}
