{% extends 'mainbase.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<style>
  /* Hide spinner controls in most browsers */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Hide spinner controls in Firefox */
  input[type="number"] {
      -moz-appearance: textfield;
  }
</style>
<div class="flex flex-col lg:flex-row bg-white rounded-3xl p-3">
  <div class="h-auto lg:w-1/2 p-4">
    <img src="{{product.image.url}}" alt="{{product.name}}" class="h-full w-full object-cover rounded-3xl object-center">
  </div>
  <div class="lg:w-1/2 px-4">
    <h3 class="text-gray-700 font-bold px-2">
      {{product.name}} {{product.id}}
    </h3>
    <p class="px-2 mt-1 text-xs text-gray-500">{{product.description}}</p>
    <h4 class="font-semibold text-sm text-gray-600 mt-2 mx-2">Price</h4>
    <div class="text-xs text-gray-500 pt-2 border-t border-indigo-300 mx-2">
      {% for portion in product.portions.all %} 
      <div class="my-1 grid grid-cols-2 py-2 px-4 border-b border-indigo-200 bg-white p-1 rounded-lg justify-between">
        <P class="text-left">{{portion.name}} {{portion.id}} portion</P>
        <P class="text-right font-bold text-indigo-500">Rs {{portion.price}}</P>
        <div>Quantity:</div>
        <div>
          <button id="increase{{portion.id}}" class="p-2 px-3 pt-1 justify-center items-center mx-1 text-sm font-bold rounded-xl bg-gray-200 text-black">+</button>
          <input type="number" id="quantity{{portion.id}}" class="w-24  text-center" value="0" min="0">
          <button id="decrease{{portion.id}}" class="p-2 px-3 pt-1 justify-center items-center mx-1 text-sm font-bold rounded-xl bg-gray-200 text-black">-</button>
          <!-- <select class="" id="select{{portion.id}}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select> -->
        </div>
        <div class="bg-white justify-end">
          <button id="add-cart"  data-index="{{portion.id}}" class="add-cart mr-auto text-gray-100 p-1 font-bold w-auto bg-indigo-500 rounded-lg text-gray-500">Add to cart</button>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="flex flex-row justify-start mx-1">
      <button value="{{product.id}}" class="bg-indigo-500 text-gray-100 mx-2 px-2 py-1 rounded-lg text-sm font-bold">Add more items</span></a>
    </div> 
  </div> 
</div>
<script>
  $(document).on('click', '.add-cart', function(e){
      e.preventDefault();

      var productid = $(this).data('index');
      console.log("Product ID:", productid);

      
      $.ajax({
          type: 'POST',
          url: '{% url 'cart_add' resturant_id=resturant.id %}',
          data: {
      product_id: $(this).data('index'),
      // product_qty: $('#select' + productid + ' option:selected').text(),
      product_qty: $('#quantity' + productid).val(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
          },
  
          success: function(json){
              console.log(json)
              // document.getElementById("cart_quantity").textContent = json.qty
              location.reload();
          },
  
          error: function(xhr, errmsg, err){
  
          }
  
  
      });
  
  
  
  })
</script>
<script>
  // Increase function
  $('button[id^="increase"]').click(function() {
      let quantityId = $(this).next('input').attr('id');
      let value = parseInt($('#' + quantityId).val());
      $('#' + quantityId).val(value + 1);
  });

  // Decrease function
  $('button[id^="decrease"]').click(function() {
      let quantityId = $(this).prev('input').attr('id');
      let value = parseInt($('#' + quantityId).val());
      if (value > 0) {
          $('#' + quantityId).val(value - 1);
      }
  });
</script>
{% endblock %}
